
%h1.text-center Наши специалисты помогут Вам
.row.mt-5
  .col-4
    .card
      = image_tag asset_pack_path('images/landing/consultant.jpg'), class: 'card-img-top'
      .card-body
        %h5.card-title Личностный рост
        %p.card-text
          Лорем ипсум долор сит амет, вирис алтерум омнесяуе меи еу, 
          но дебет витуперата яуи. Ех либрис импердиет меа, пер еу ерат яуаерендум цонсеяуунтур, 
          дуо вениам опортеат еа. Еи меи фацилис аццусамус, вих ан стет суавитате адолесценс. 
          Хас вертерем цонцептам сцрипторем не. 
  .col-4
    .card
      = image_tag asset_pack_path('images/landing/woman.jpg'), class: 'card-img-top'
      .card-body
        %h5.card-title Карьера
        %p.card-text
          Меи ад сале дицам дицунт. Нец те велит елецтрам. Нобис либерависсе цум ут, ид нец еверти дебитис
          цонтентионес, еа пробатус атоморум хис. Те при долор латине. Харум яуандо яуалисяуе ад нец, нец
          цу суас дицтас дефинитионем, магна интегре яуаестио нец еа. 
  .col-4
    .card
      = image_tag asset_pack_path('images/landing/romantic.jpg'), class: 'card-img-top'
      .card-body
        %h5.card-title Семья
        %p.card-text
          Дебет либерависсе сеа те, ет цум промпта адиписцинг цонтентионес. Еи про яуем ерос иисяуе, вих
          ерант принципес неглегентур но. Солута импетус ид сед, деленит иудицабит форенсибус усу еа, 
          вим ех тота чоро. Ид хас цонсул волумус. 
.row.mt-5
  .col-4
    .card
      = image_tag asset_pack_path('images/landing/teacher.jpg'), class: 'card-img-top'
      .card-body
        %h5.card-title Тайм-менеджмент
        %p.card-text
          Инермис малуиссет персецути еа усу. Ан яуи ехпетенда яуалисяуе. Поссит цонвенире яуо но.
          Платонем инимицус продессет меа цу, постеа адиписцинг
          модератиус цу сеа. Еум ад симул симилияуе, меи ат солум нонумы.
  .col-4
    .card
      = image_tag asset_pack_path('images/landing/man.jpg'), class: 'card-img-top'
      .card-body
        %h5.card-title Работа над Вашим имиджем
        %p.card-text
          Вим ад ратионибус интеллегебат. Вулпутате дефиниебас те дуо. Велит ерудити антиопам про ут, 
          ет яуо виртуте аццумсан персеяуерис, сеа еу адмодум интеллегат. Инимицус торяуатос интерессет не вих,
          бруте аудире еррорибус цу сит. 
  .col-4
    .card
      = image_tag asset_pack_path('images/landing/romance.jpg'), class: 'card-img-top'
      .card-body
        %h5.card-title Удовольствие от жизни
        %p.card-text
          Платонем мнесарчум еу еос, яуи ин видит утрояуе перципитур, еу солум луцилиус ест. Солеат цивибус
          те еос. Легимус персеяуерис яуо еу, еи одио ерипуит еум, еа мазим ессент тибияуе усу. 
          Ест дебитис фацилиси ид, меи цонгуе лабитур оцурререт ан 
  