!!!
%html
  = render 'shared/layout/head'

  %body
    = render 'shared/header'
    %main.container.after-fixed-navbar
      = component 'flash', flash_messages: flash
      = yield
    = render 'shared/footer'
