!!!
%html
  = render 'shared/layout/head'

  %body
    = render 'shared/fancy_header'
    %main.container.py-5
      = component 'flash', flash_messages: flash
      = yield
    = render 'shared/footer'
